[submodule "backendok"]
	path = backendok
	url = https://git.heroku.com/backendok.git
[submodule "backendok2"]
	path = backendok2
	url = https://git.heroku.com/backendok.git
[submodule "backendol"]
	path = backendol
	url = C:\\ArgentinaPrograma\\ProyectoFinal\\ProyectoIntegradorRossiJose\\ProyectoIntegradorRossiJose\\BackEnd
